@font-face {

 font-family: "Dosis";

 src: url("../fonts/Dosis-SemiBold.eot") /* EOT file for IE */

}

@font-face {

 font-family: "Dosis";

 src: url("../fonts/Dosis-SemiBold.ttf") /* TTF file for CSS3 browsers */

}


@font-face {

 font-family: "HelveticaNeueLT Com 57 Cn";

 src: url("../fonts/HelveticaNeueLTCom-Cn.eot") /* EOT file for IE */

}

@font-face {

 font-family: "HelveticaNeueLT Com 57 Cn";

 src: url("../fonts/HelveticaNeueLTCom-Cn.ttf")

}







body { 

	background:url(../images/header_bg.png) repeat-x  top;

	

 

}

.scnmes { 
  padding-bottom: 0;
  padding-left: 14px;
  padding-right: 0;
  padding-top:23px;
  float:left;
}

.tab-content {

  margin-bottom: 0;

  margin-left: 0;

  margin-right: 0;

  margin-top: 38px;



}

.starter-template {

  text-align:left;

  max-width:955px;

  margin:0 auto;

}

.starter-template h1 {

	font-family:"Dosis";

	font-size:29px;

	color:#e1358c;

	margin-bottom:0;

}

.starter-template p {

	font-family:"HelveticaNeueLT Com 57 Cn";

	font-size:16px;

	color:#666666;

}

.starter-template input {

	border: 5px solid #20C1E9;

	border-radius: 10px 10px 10px 10px;

	/*height: 80px;*/

	color:#5f5f5f;

	font-family:"HelveticaNeueLT Com 57 Cn";

	font-size:16px;

	padding: 15px 0 15px 15px;

	width:100%;

}

.media { 

	

}




.media h1, .col-md-12 h2, .col-md-12 h1  {

	font-family:"Dosis";

	font-size:29px;

	color:#e1358c;

	margin-bottom:0;
	text-transform:uppercase;

}

.media p {

	font-family:"HelveticaNeueLT Com 57 Cn";

	font-size:16px;

	color:#666666;

}



.vanish{

	display:none !important;

}	



.form_main {

	background:url(../images/border.png) repeat-y top center;

}

.sms_bg {

	background-color: #20C1E9;

	border-radius: 10px 10px 10px 10px;

	/*height: 230px;*/

	padding:24px 0 32px;

	}

.sms_bg .checkbox {

	float: left;

	height: 0 !important;

	margin: 10px 0 0 20px;

	width: auto;

}

.sms_bg span {

	color: #FEFEFE;

	display: block;

	float: left;

	font-family: "HelveticaNeueLT Com 57 Cn";

	font-size:20px;

	padding: 6px 0 0 10px;

}

.email_text {

	padding:0;

	}

.clear {

	clear:both;

	}

.input checkbox {

	height:1em;

	width:1em;

	}

.email {

	padding:20px 0 0;

	}

.message  {

	padding: 10px 0;

	}

.text_aria_main {

	background-color:#20C1E9;

	width:100%;

	/*height:445px;*/

	border-radius:10px;

	padding:0 20px 75px 0;

	}

.text_aria_main label {

	color: #FFFFFF;

	float: right;

	font-size: 25px;

	font-weight: normal;

	padding: 15px 0 0;

}

.text_aria_main textarea {

	border: 2px solid #E96DAC;

	border-radius: 10px 10px 10px 10px;

	/*height: 360px;*/

	margin: 10px 0 0 10px;

	font-family:"HelveticaNeueLT Com 57 Cn";

	font-size:16px;

	color:#5f5f5f;

	padding: 5px 0 0px 10px;

	width:100%;

	height:180px;

}

.recep {

  padding:0 0 10px;

}

.from_file_2 {

	background-color: #20C1E9;

	border-radius: 10px 10px 10px 10px;

	/*height:195px;*/

	margin: 10px 0 0;

	padding: 15px 0 0px 15px;

	}

.from_file_2 .ax_button {

	color: #000000;

	display: block;

	font-family: 'HelveticaNeueLT Com 57 Cn';

	font-size: 13px;

	font-style: normal;

	font-weight: normal;

	/*height: 34px;*/

	line-height: normal;

	padding-left: 0;

	text-decoration: none;

	width: 142px;

}

.uploading {

	border-top: 2px solid #000000;

	color: #FFFFFF;

	font-size: 16px;

	font-weight: bold;

	margin: 60px 0 0;

	padding: 10px;

	width: 25%;

}

.from_file_3 {

	background-color: #20C1E9;

	border-radius: 10px 10px 10px 10px;

	

	margin: 10px 0 0;

	padding: 15px 0 20px 15px;

}

.from_file_3 h1 {

	color: #FFFFFF;

	font-size: 20px;

	margin: 0;

}

.name_entry {

	padding:0;

	float:left;

}

.entry {

	padding:0;

}

.entry label {

	color: #FFFFFF;

	float: left;

	font-size: 15px;

	font-weight: normal;

	padding: 5px 0 0;

	text-align: right;

	width: 160px;

}

.the_added {

	padding:0 40px 0 0;

	float:right;

}

.the_added p {

	color: #FFFFFF;

	font-family: 'HelveticaNeueLT Com 57 Cn';

	font-size: 13px;

	width: 98%;

	max-width: 295px;

}

.entry input {

	float: right;

	padding-bottom: 5px;

	padding-left: 10px;

	padding-right: 0;

	padding-top: 5px;

	width: 200px;

}

.add_contact {

	background-color: #FF6600;

	color: #FFFFFF !important;

	float: right;

	/*height: 50px !important;*/

	margin: 30px 0 0;

	padding-left: 0 !important;

	width: 160px !important;

	border:0 !important;

}

.from_file {

	background-color: #20C1E9;

	border-radius: 10px 10px 10px 10px;

	/*height:195px;*/

	padding:0 0 20px 0;

	}

.from_text {

	color: #FFFFFF;

	font-family: "HelveticaNeueLT Com 57 Cn";

	font-size: 18px;

	padding: 20px 0 6px 40px;

	background-position: 23px 19px;

}

.from_text span {

	font-family:"HelveticaNeueLT Com 57 Cn";

	font-size:12px;

	color:#fff;

	

	

}

.selected {

	background-color: #20C1E9;

	border-top-left-radius: 10px;

	border-top-right-radius: 10px;

	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px;

	margin-bottom: 0;

	margin-left: 0;

	margin-right: 0;

	margin-top: 60px;

	padding-bottom: 75px;

	padding-left: 15px;

	padding-right: 10px;

	padding-top: 0;

}

.selected1 {

}

.selected h2 {

	color: #FFFFFF;

	font-family: "Dosis";

	font-size: 18px;

	padding: 10px 0 0 20px;

}

.selected1 h2 {

	color: #FFFFFF;

	font-family: "Dosis";

	font-size: 18px;

	padding: 10px 0 0 20px;

	margin:0 0 10px 0 !important;

}



.ahmet {

	background-color: #FFFFFF;

	border-radius: 5px;

	margin-bottom: 10px;

	}

.ahmet span{

	float:left;

	color: #666666;

	font-family: "HelveticaNeueLT Com 57 Cn";

	font-size: 18px;

	padding:15px 0 15px 30px;

}

.ahmet span.icon{

	float:right;

	padding:7px 0 0 0;

}

.ahmet span img{

	padding:0 15px 0 0;

}

.save_broadcast {

	padding:95px 0 0 0;

	width:100%;

	}

.save_button {

	

	width: 50% !important;

	margin:0 auto;



}

.sbmit123 { 

		background-color: #E1358C;

	border-radius: 10px 10px 10px 10px !important;

	color: #F9F9F9 !important;

	cursor: pointer !important;

	font-family: "HelveticaNeueLT Com 57 Cn" !important;

	font-size: 18px !important;

	/*height: 100px !important;*/

	border: 0 none !important;

	text-align:center;

	padding:0 0 0 0;

	}

.save_button_2 {



	width: 50% !important;

	margin:0 auto;



}

.sbmit007 {

		background-color: #e99ac2;

	border-radius: 10px 10px 10px 10px !important;

	color: #F9F9F9 !important;

	cursor: pointer !important;

	font-family: "HelveticaNeueLT Com 57 Cn" !important;

	font-size: 18px !important;

	/*height: 100px !important;*/

	border: 0 none !important;

	text-align:center;

	padding:0 0 0 0;

	}

.test_broad {

	padding:15px 0 0 0;

	}

.sender_id {

	text-align: right;

	padding:60px 70px 0 0;

	}



.sender_id label {

	color: #FFFFFF;

	font-family: "HelveticaNeueLT Com 57 Cn";

	font-size: 30px;

	font-weight: normal;

	margin-bottom: 0;

	margin-top: 8px;

	text-align: right;



}

.sender_id .ask_fast {

	/*height: 65px;*/

	width: 52%;

	float: right;

	font-size:25px;

	

}

.sms_text {

	padding:0;

	}

.subject_id {

	text-align: right;

	padding:30px 70px 0 0;

}

.subject_id label {

	color: #FFFFFF;

	font-family: "HelveticaNeueLT Com 57 Cn";

	font-size: 30px;

	font-weight: normal;

	margin-bottom: 0;

	margin-top: 8px;

	text-align: right;



}

.subject_id .ask_fast {

	/*height: 65px;*/

	width: 52%;

	float: right;

	font-size:25px;

	

}





.left_icon{

  	background-color: #20C1E9;

    border-bottom-right-radius: 5px;

    border-top-right-radius: 5px;

   

    position: fixed;

    top: 239px;

    width: 8%;	

}



.left_icon ul{

	list-style:none;

	padding:0;

	margin:0;

}

.left_icon ul li{

	padding:5px;

}


.shw{
	/*margin:10px 0 0 6px;*/
	width:80%;
}

.left_icon ul li ul{

	display:none;

}

.left_icon ul li:hover ul{
	display:block;
}



.from_file input[type="checkbox"]{

	display: block !important;

    float: left !important;

    margin-right: 10px !important;

    margin-top: 7px !important;

    width: 20px !important;

}



.left_icon ul li img{

    border-bottom-right-radius: 5px;

    border-top-right-radius: 5px;

		

}	

.left_icon ul li a:hover{

	background-color:#CC0066;

	display:block;

	border-bottom-right-radius: 5px;

    border-top-right-radius: 5px;



}

.left_icon ul li a:active{ 

	padding:5px; 

	background-color:#CC0066;

	display:block;

    border-bottom-right-radius: 5px;

    border-top-right-radius: 5px;



}

.left_icon ul li a:focus{

	padding:5px; 

	background-color:#CC0066;

	display:block;

    border-bottom-right-radius: 5px;

    border-top-right-radius: 5px;

}	

.logo {

  padding:20px 0 44px 0; 

  width: 100%;

}

.logo img {

  width: 100%;

  max-width: 354px;

}



.group{

	background-position: 23px 19px;

    color: #FFFFFF;

    font-family: "HelveticaNeueLT Com 57 Cn";

    font-size: 18px;

    padding: 10px 0 6px 15px;

}





.group input[type="checkbox"] {

  display: block !important;

  float: left !important;

  margin-right: 10px !important;

  margin-top: 7px !important;

  width: 20px !important;

}


.contact h1{
	float:left;
} 
.contact span{
	float:right;
	padding-top:15px;
}
.add{
	background-color:#0099FF;
	border:0px none !important;
	color:#FFFFFF !important;
	padding:10px !important;
}
.box {
  margin-top:30px;
}
.box span {
  border: 1px solid #797979;
  padding: 9px 0;
  float:left;
  width:219px;
  text-align:center;
}
.contact-name{
	margin-top:15px;
}
.contact-name p{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	padding:5px 0 5px 15px;
}
.contact-name p.contact-name1{
	background-color:#0099FF;
}
.u17{
	float:left;
}
.shortage123{
	float:left;
}
.shortage{
	padding-left:30px;
}

.shortage h3{
	color: #E1358C;
    font-family: "Dosis";
    font-size: 29px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.work{
	background-color:#CCCCCC;
	float:left;
	padding:5px 25px;
	margin-right:15px;
}
.mobile{
	margin:50px 0 0 30px;
}
.mobile span{
	padding:0 0 20px 0;
	float:left;
}
.mobile p{
	margin:0 !important;
}
.mobile123{
	border:1px solid #CCCCCC;
	height:24px;
}
.mobile span.u167{
	padding:17px 0 0 15px;
	float:left;
}
.fb-icon{
	margin:20px 0 0 30px;
}
.fb-icon img{
	padding:0 15px 0 0;
}
.bro{
	margin:20px 0 0 0;
}
.broadcast{
	background-color:#009DD9;
	padding:5px 15px;
	margin:0 0 5px 0;
}
.broadcast123{
	padding:5px 15px;
	margin:0 0 5px 0;
}
.broadcast1{
	float:left;
	width:45%;
}
.broadcast1 span{
	float:left;
	color:#000;
	padding:0 10px 0 0;
}
.broadcast1 span.u37{
	float:right;
}
.u37 img{
	padding:0 0 0 5px;
}
.duplicate{
	float:left;
	padding:0 0 0 67px;
}
.duplicate1{
	background-color:#999999;
	color: #fff;
    font-family: 'HelveticaNeueLT Com 57 Cn';
    font-size: 14px;
	height: 18px;
	width: 65px;
	border:0px none !important;
}

.reports{
}
.reports1{
	background-color:#0099FF;
	height:30px;
}


.file-input-wrapper{
	background:#FF6600 !important;
	color:#FFFFFF;
    font-family: 'HelveticaNeueLT Com 57 Cn';
	font-size:12px;
	float:right;
	margin-right:10px;
	margin-top:10px;
}

.nbc{
	border: 1px solid #00C0EB;
    border-radius: 9px 9px 9px 9px;
    display: block;
    padding: 14px;
    position: relative;
    top: 26px;
}







.list_search {
  height: 47px;
  width: 52%;
  background-color: #DBDBDB;
  border-radius: 25px;
  margin:0 0 15px 0;
}
.list_search123{
	border:0px none;
	float:left;
	background:none;
	color:#e1358c;
	height:47px;
	padding:0 0 0 10px;
	width:70%;
}
.list_search1234{
	background:url(../images/list-search1.png) no-repeat;
	float:right;
	width:34px;
	height:34px;
	border:0px none;
	margin:5px 10px 0 0;
}
.football{
	background:#20C1E9 !important;
	border-radius:4px;
	margin:10px 0 0 0;
	color:#FFFFFF;
	padding: 7px 0 5px 10px;
}
.football2345{
	background:#30D4FB !important;
	border-radius:4px;
	margin:10px 0 0 0;
	color:#FFFFFF;
	padding: 7px 0 5px 10px;
}
.footbal{
	color:#FFFFFF;
	float:left;
	width:135px;
	
}
.footbal h6{
	font-size:15px;
	font-family:Helvetica;
	margin:0;
}
.footbal p{
	font-size:15px;
	font-family:Helvetica;
	margin:0;
}.therty7{
	float:left;
	background:url(../images/contact.png) no-repeat right 0px;
	font-size:16px;
	font-family:Helvetica;
	margin: 5px 30px 10px 30px;
    padding: 0 27px 0 0;
}
.three-img{
	float:left;
	padding:3px 30px 5px;
}
.three-img img{
	padding:0px 0 0 7px;
}

.details{
	float:left;
	padding:0 0px;
}
.details1{
	background:url(../images/start.png) no-repeat;
	width:82px;
	height:34px;
	border:0px none;
}
.dupli{
	background:url(../images/duplicate.png) no-repeat;
	width:82px;
	height:34px;
	border:0px none;
}
.edit{
	float:left;
	padding:0 30px;
}
.edit1{
	background:url(../images/edit.png) no-repeat;
	width:82px;
	height:34px;
	border:0px none;
}
.clone{
	background:url(../images/clone.png) no-repeat;
	width:82px;
	height:35px;
	border:0px none;
}
.close123{
	float:left;
	padding:0 30px 0 0;
}
.football-left{
	float:left;
}
.football-right{
	float:right;
}
.date{
	border-top:5px solid #e1358c;
	margin:10px 0 0 0;
}
.date h2{
	font-size:27PX;
	font-family:"Myriad Pro";
	text-align:left;
	margin:0px;
}




/*=====================================contact book========================================================*/
.contact-gray-box{
	background-color:#CCCCCC;
	text-align:center;
	border: 1px solid #797979;
	padding:150px 0 50px 0;
	margin:0 0 30px 0;
}
.box-contact{
	margin-top:30px;
}
.box-contact span {
  border: 1px solid #797979;
  padding: 9px 0;
  float:left;
  width:202px;
  text-align:center;
  margin:10px 0 0 0;
}
.box-contact span.check {
  border: 1px solid #797979;
  padding: 8px 0;
  float:left;
  width:35px;
  text-align:center;
  margin:10px 0 0 0;
}

.add1234{
	background-color:#0099FF;
	border:0px none !important;
	color:#FFFFFF !important;
	padding:10px 75px !important;
	width:120px;
	margin:10px 0 0 0;
}
.add{
	background-color:#0099FF;
	border:0px none !important;
	color:#FFFFFF !important;
	padding:10px 0 10px 0 !important;
	width:120px;
	margin:10px 0 0 0;
}

.add:hover{
	background:#00ccff !important;
}
.row{
	margin:0 0 30px 0 !important;
}


/*=====================================contact book========================================================*/








