
br.both{
clear:both;
}

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}



#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
/*min-height:384px;
min-width:850px;*/
width:890px;
height:522px;
/*background:#FFFFFF;*/
/*border:2px solid #cecece;*/
z-index:2;
padding:12px;
font-size:13px;
}

#popupGuide{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
/*min-height:384px;
min-width:850px;*/
width: 700px;
height:auto;
/*background:#FFFFFF;*/
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;

}


/*#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
padding-bottom:2px;
margin-bottom:0px;
}*/

#popupGuide h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:0px;
}

#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor:pointer;
}

#popupContactClose2{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor:pointer;
}


.title_header{
	text-align: center;
	font-weight: bold;
}


/*#button{
text-align:center;
margin:100px;
}*/


.popupContactClose_cancelAcc{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor:pointer;
}

#div_cancelAcc{
	display:none;
	position:fixed;
	_position:absolute;
	width:400px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
}
#div_cancelAcc h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:0px;
}















.light-blu{
	height:340px;
	background-color:#6edbf8;
	margin:20px 10px 0 0;
}
.light-blu-inner{
}
.light-blu-left{
	float:left;
	padding:10px 0 0 20px;
	width:50%;
}
.light-blu-left h3{
}
.light-blu-left span{
}
.light-blu-text{
	border:0px none;
	width:90%;
	height:160px;
}
.light-blu-right{
	float:left;
	width:50%;
	margin: 30px 0 0;
}
.light-blu-right span{
	width:65px;
	float:left;
	text-align:right;
	padding:6px 0 0 0;
	color:#000000;
}
.light-blu-in {
  border: 0 none;
  width: 75%;
  height: 35px;
  margin: 0 0 15px 15px;
  padding:0 0 0 10px;
  border-radius:10px;
}


/* =================================================================== */
.navbar {
	background:#E1348D;
	float: right;
	height: 38px;
	margin: 10px 0 0 !important;
	width: 15%;
	border-radius: 0 0 0 0 !important;
	min-height: 38px !important;
	}
.nav > li > a {
	color: #FFFFFF;
	padding:8px 0 !important;
	text-align: center;
	}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus , .nav > li > a:hover, .nav > li > a:focus {
	background:none !important;
	}
.nav .caret {
	border-bottom-color: #FFFFFF !important;
	border-top-color: #FFFFFF !important;
	border-width: 6px 6px 0 !important;
	margin-left: 10px !important;
	}
.dropdown-menu {
	background-color: #E1348D !important;
	border-radius: 0 0 0 0 !important;
	box-shadow: none !important;
	border:none !important;
	left: -53px !important;
	margin:5px 0 0 !important;
	text-align: right;
	}
.dropdown-menu > li > a {
	color: #FFFFFF !important;
	padding: 3px 20px !important;
	}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #F274B3 !important;
	color: #FFFFFF !important;
	}
/*========================================================manual================================================*/

.squaredFour {
	display: inline-block;
	padding: 12px 0 0 10px;
	width: 15%;
	}
.squaredFour input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
	}
.squaredFour input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:25px; 
	display:inline-block;
	line-height:28px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	}
.squaredFour input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -26px;
	}
.squaredFour .css-label{
	background-image:url(../images/input_bgs.png);
	}
	
	#main {
	width:100%;
}
.loadimageUploadAjax2 {
	left: 550px;
	padding: 2px;
	position: absolute;
	top: 360px;
	width: 220px;
	z-index: 99999999999999999;
}
#div_thisData {
	font: 12px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #444444;
}
#popupContact {
	font-size: 13px;
	height: 500px;
	padding: 12px;
	position: fixed;
	width: 800px;
	z-index: 2;
}
.background-loader {
	background: none repeat scroll 0 0 #000000;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.75;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.bck-color {
	height:100%;
	width:100%;
	position:fixed;
	display:none
}